@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to LicensesSystem</h1>
    <p>It is a simple system that allows you to manage your license keys.</p>
</div>
